<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss}] [%thread] [%-5p] %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>users.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss}] [%thread] [%-5p] %logger{36} %msg%n</pattern>
            <!-- java default
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
            -->
        </encoder>
    </appender>

    <root>
        <appender-ref ref="console" level="INFO"/>
        <appender-ref ref="file" level="WARN"/>
        <!-- can have more than one appender:
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        -->
    </root>

    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="file" />
    </logger>
</configuration>