---

# Action Documentation at
# https://github.com/actions/setup-java
# https://github.com/crazy-max/ghaction-github-pages
# https://github.com/actions/checkout

name: build java project using maven

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: set up jdk 11
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11

      - name: build with maven
        run: mvn clean install

      - name: publish to pages
        uses: crazy-max/ghaction-github-pages@v2.1.3
        if: success()
        with:
          build_dir: target/site
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}

